<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	<bean id ="eng" class="beans.Engine" autowire-candidate="false">
		<property name="modelYear" value="2013"/>
	</bean>
	
	<bean id="eng1" class="beans.Engine">
		<property name="modelYear" value="2015"/>
	</bean>
	
	<bean id="car" class="beans.Car" autowire="byType">
		<property name="carname" value="SUZUKI" />
	</bean>

</beans>