<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<!-- 	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> -->
<!-- 		<property name="getMethod" value="bean.Test.getInstance"/> -->
<!-- 		<property name="arguments"> -->
<!-- 			<list> -->
<!-- 				<value></value> -->
<!-- 			</list> -->
<!-- 		</property> -->
<!-- 	</bean> -->
	
	<bean id="t" class="beans.Test" factory-method="getInstance"/>
	
	<bean id ="c" class="java.util.Calendar" factory-method="getInstance"/>

</beans>