<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
		
<beans>
	
	<bean id="t" class="beans.Test">
		<property name="fruits">
			<list>
				<value>Apple</value>
				<value>Mango</value>
				<value>Banana</value>
			</list>
		</property>
		
		<property name="cricketers">
			<set>
				<value>Sachin</value>
				<value>Rahul</value>
				<value>Virat</value>
			</set>
		</property>
		<property name="countryCapital">
			<map>
				<entry key="India" value="New Delhi"/>
				<entry key="Argentina" value="Buenos Aeres"/>
				<entry key="Brazil" value="Brasilia"/>
			</map>
		</property>
	
	</bean>
	

</beans>