<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			
<beans>
<!-- 	Default Handler -->
<!-- 	By default the spring framework will create this Handler class. No need to configure -->
<!-- 	<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/> -->
	
<!-- 	Using ControllerClassNameUrlHandlerMapping -->

<bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>

	

<!-- 	controller class -->
	<bean name="hc" class="controller.HelloController"></bean>

<!-- View Resolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>	
	</bean>
	
</beans>